body{
  width: 1400px;
}

  header {
    background: rgb(0, 64, 97);
    height: 70px;
    display: flex;
  }
  header p img{
    position:absolute;
    left:200px;
    top: 30px;
  }

  header nav ul{
    display: flex;
  }

  .list {
    position:absolute;
    left:500px;
    top: 30px;
  }
  header .btn{
    position:absolute;
    left:1000px;
    top: 30px;
  }


  .container {
    display: flex;
    width: 1400px;
    height:650px ;
    background-image: url(images/index_bg01.png);
  }

  h2 {
    text-align:center;
  }
  h1{
    position: absolute;
    top: 200px;
    left: 200px;
  }
  .img-text{
    position: absolute;
    top: 300px;
    left: 200px;
    }
/*メニュー*/









  .main {
  
    margin: 0 auto;
  }
  .main img{
      float: left;
    }
 
  .img-text{
      color:white;
  }
  .conts{
      width: 700px;
      font-size: 10px;
  }
  .conts p{

  }
  .photo{
    float-left: 150px;
  }
  footer {
    
  }