body{
  width: 1400px;
}

  header {
    background: rgb(0, 64, 97);
    height: 70px;
    display: flex;
  }
  header p img{
    position:absolute;
    left:200px;
    top: 30px;
  }

  .list {
    position:absolute;
    left:500px;
    top: 30px;
  }

  header nav ul{
    display: flex;
    justify-content: space-between;
  }

  header li {
    padding: 5px;
  }


  header li + li{
    flex-grow: 1
    color: white;
    text-align: center;
    border-left: 1px solid white;
    padding: 5px;
  }

  header .btn{
    position:absolute;
    left:1000px;
    top:15px;
    text-align: center;
    padding-top: 15px;
    background-color:rgb(225, 183, 13);
    width: 200px;
    height: 30px;
  }

  .container {
    display: flex;
    width: 1400px;
    height:650px ;
    background-image: url(images/index_bg01.png);

  }

  h1{
    position: absolute;
    top: 200px;
    left: 200px;
  }
  h2 {
    text-align:center;
    clear: both;
  }

  .img-text{
    position: absolute;
    top: 300px;
    left: 200px;
    }
section{

  width: 1000px;

  }

/*メニュー*/
.contents{
  width: 1000px;
  clear: both;
  margin: 30px;
}


.menu-btn{
  display: block;
  clear: both;
}
.main-img,
.main-text{
  float: left;
}




.menu-btn{
  width: 360px;
  height: 20px;
  background-color:rgb(0, 64, 97);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
/*アクセス*/
.access-img{
  float: left;
}
dl{
  float: right;
}

